<div class="soloist-media-btn">
    <a href="{{ uri }}" class="button-bg" style="background-image: url({{ path_bg }});">
        <span class="button-fg" style="background-image: url({{ path_fg }});">
            <span class="button-head">{{ name }}</span>
            <p class="button-body">{{ description }}</p>
        </span>
    </a>
</div>
